@media mq-mobile
  #mobile-nav
    position: absolute
    top: 0
    left: 0
    width: mobile-nav-width
    height: 100%
    background: color-mobile-nav-background
    border-right: 1px solid #fff

@media mq-mobile
  .mobile-nav-link
    display: block
    color: color-grey
    text-decoration: none
    padding: 15px 20px
    font-weight: bold
    &:hover
      color: #fff

@media mq-normal
  .toc-wrapper
    float: right;
    padding: 0 1em;
    border: 1px solid #555;
    width: 320px;
    margin: 1em;
    font-size: 0.8em;


